<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
               [attr.role]="'navigation'" 
               [mode]="'side'" 
               [opened]="true"
               [class.minimized]="isMinimized()">
    
    <div class="sidebar-header">
      <button mat-icon-button (click)="toggleSidebar()" class="toggle-btn">
        <mat-icon>{{ isMinimized() ? 'menu' : 'menu_open' }}</mat-icon>
      </button>
    </div>

    <div class="user-section">
      <div class="user-avatar">
        <div class="avatar-circle">
          {{ getInitials() }}
        </div>
      </div>
      <div class="user-name" *ngIf="!isMinimized()">
        {{ userProfile.firstName }} {{ userProfile.lastName }}
      </div>
    </div>

    <mat-nav-list class="navigation-list">
      <div *ngFor="let item of menuItems" class="menu-group">
        <h3 mat-subheader *ngIf="!isMinimized()" class="menu-group-label">
          {{ item.label }}
        </h3>
        
        <div *ngIf="isMinimized()" class="minimized-group-icon" 
             [matTooltip]="item.label" 
             matTooltipPosition="right">
          <mat-icon>{{ item.icon }}</mat-icon>
        </div>

        <div *ngFor="let child of item.children" class="menu-item">
          <a mat-list-item 
             [routerLink]="child.route"
             [class.disabled]="child.disabled"
             [matTooltip]="isMinimized() ? child.label : ''"
             matTooltipPosition="right">
            <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
            <span matListItemTitle *ngIf="!isMinimized()">{{ child.label }}</span>
            <mat-icon *ngIf="child.disabled && !isMinimized()" matListItemMeta>block</mat-icon>
          </a>
        </div>
      </div>
    </mat-nav-list>

    <div class="sidebar-footer">
      <div class="currency-section">
        <div class="currency-item" [matTooltip]="isMinimized() ? 'NP' : ''" matTooltipPosition="right">
          <mat-icon class="currency-icon np">toll</mat-icon>
          <span *ngIf="!isMinimized()" class="currency-value">1,234</span>
        </div>
        <div class="currency-item" [matTooltip]="isMinimized() ? 'Vidas' : ''" matTooltipPosition="right">
          <mat-icon class="currency-icon vidas">favorite</mat-icon>
          <span *ngIf="!isMinimized()" class="currency-value">5</span>
        </div>
        <div class="currency-item" [matTooltip]="isMinimized() ? 'DNA' : ''" matTooltipPosition="right">
          <mat-icon class="currency-icon dna">science</mat-icon>
          <span *ngIf="!isMinimized()" class="currency-value">89</span>
        </div>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content class="main-content" [class.content-shifted]="!isMinimized()">
    <mat-toolbar class="toolbar" color="primary">
      <span>Raptor Frontend</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateTo('/profile')">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>